:root {
	--main-font-c: rgb(250, 250, 250);
	--modal-background-c: rgb(20, 20, 20);

	--border-radius: 0.5rem;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: system-ui, sans-serif;
	font-size: 1rem;
	line-height: 1.4;

	background: linear-gradient(to bottom, transparent, rgb(10, 10, 10)) rgb(20, 20, 20)
		no-repeat;

	color: var(--main-font-c);
}
