.button {
	color: rgb(251, 188, 4);
	background-color: rgb(30, 30, 30);
	padding: 0.5rem 0.8rem;
	border: 0.0625rem solid currentColor;
	border-radius: var(--border-radius);
	opacity: 0.85;

	transition: all 150ms;
}
.button:not(.disabled):hover {
	opacity: 1;
	background-color: rgb(33, 33, 33);
}
.button:not(.disabled):active {
	background-color: rgb(251, 188, 4);
	color: rgb(20, 20, 20);
}

.button.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
